.img-slider-img {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
	position: relative;
	z-index: -999;
}

.img-slider-btn {
	all: unset;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 1rem;
	cursor: pointer;
	z-index: 30;
}
